.container {
  display: flex;
  gap: 20px;
}

.poster {
  width: 250px;
  height: auto;
}

.textBlock {
  display: block;
}

.list {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  gap: 8px;
}
