.container {
  min-width: 550px;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid black;
  border-radius: 2%;
}

.userInfo {
  font-size: 40px;
  line-height: 0.6em;
  color: #818181;
  border-bottom: 2px solid #818181;
}

.name {
  font-weight: 700;
  color: black;
}

.avatarImage {
  width: 200px;
  height: 200px;
  margin-top: 16px;
  border-radius: 50%;
  background-color: #2e2e2e;
}

.statsList {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  background-color: #d8d8d8;
  border-radius: 0 0 5% 5%;
}

.statsItem {
  width: 100%;
  height: 100%;
  padding: 10px;
}

.statsItem:not(:last-child) {
  border-right: 2px solid #818181;
}

.statsItemValue {
  font-weight: 700;
}
